.container{
  display: grid;
  grid-template-columns: 150px 4fr;
  grid-template-rows: 1fr 4fr;
  height: 100vh;
}

.header{
  display: grid;
  grid-template-columns: 1fr repeat(2, 3fr);
  grid-template-rows: 1fr 3fr;
  grid-column: 2 / 3;
  padding: 20px;
  gap: 20px;
  height: 30vh;
}

.sidebar{
  display: grid;
  grid-template-rows: 1fr 3fr 2fr;
  grid-row: 1 / 3;
  background-color: blue;
  color: white;
  padding: 20px;
  color: white;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
  grid-row: 2 / 3;
  grid-column: 2 / 3;
  background-color: lightgray;
}

.card{
  background-color: white;
  height: 200px;
  gap 10px;
  box-shadow: -10px 0 0 0 orange;
  border-radius: 8px;
}

.cardsLeft{
  background-color: white;
  height: 230px;
  gap: 10px;
  justify-content: center;
  align-items: center;
}

.sidebar nav{
  display: grid;
  gap: 10px;
}

.menuInferior{
  margin-top: 50px;
}

.content{
  display: grid;
  grid-template-columns: 2fr 1fr;
}

.cards{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  gap: 20px;
  padding: 20px;
}

.cardsLeft{
  display: grid;
  grid-template-columns: 2;
  display: grid;
  gap: 20px;
}

a{
  color: white;
  text-decoration: none;
}